<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
    "style": [
      "assets/css/main.css"
    ]
  })
  <!-- bagian header selesai -->
  
  <!-- Tulis semua coding kalian mulai dari sini -->
  <main>
    <div class="post">
        <h2 class="post desc">Apa saja kelebihan Bahasa Javascript</h2>
        <p class="post title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit omnis accusantium nemo placeat similique aliquid, incidunt voluptate culpa laboriosam magnam?</p>
        <br>
         <a href="#" class="post button">Readmore</a>

         <h2 class="post desc">Perbandingan PHP vs Nodejs</h2>
        <p class="post title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit omnis accusantium nemo placeat similique aliquid, incidunt voluptate culpa laboriosam magnam?</p>
        <br>
         <a href="#" class="post button">Readmore</a>

         <h2 class="post desc">Belajar User Experience (UX) untuk pemula</h2>
        <p class="post title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit omnis accusantium nemo placeat similique aliquid, incidunt voluptate culpa laboriosam magnam?</p>
        <br>
         <a href="#" class="post button">Readmore</a>
    </div>
  </main>
  <!-- Penulisan coding selesai di sini -->
  
  
  <!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
  @@include('../shared/footer.html', {
    "script": [
      "assets/js/app.min.js"
    ]
  })
  <!-- bagian footer selesai -->