<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
    "style": [
      "assets/css/main.css"
    ]
  })
  <!-- bagian header selesai -->
  
  <!-- Tulis semua coding kalian mulai dari sini -->
  <main>
    <h2>Contact</h2>
    <table width="70%">
        <tr>
            <td>Nama Depan</td>
            <td>:</td>
            <td>
                <form>
                    <input type="text" name="" id="">
                </form>
            </td>
        </tr>
        <tr>
            <td>Nama Belakang</td>
            <td>:</td>
            <td>
                <form>
                    <input type="text" name="" id="">
                </form>
            </td>
        </tr>
        <tr>
            <td>Alamat</td>
            <td>:</td>
            <td>
                <form>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </form>
            </td>
        </tr>
        <tr>
            <td>Pertanyaan</td>
            <td>:</td>
            <td>
                <form>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </form>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <form>
                    <button>Kirim</button>
                </form>
            </td>
        </tr>
    </table>
  </main>
  <!-- Penulisan coding selesai di sini -->
  
  
  <!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
  @@include('../shared/footer.html', {
    "script": [
      "assets/js/app.min.js"
    ]
  })
  <!-- bagian footer selesai -->