<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
    "style": [
      "assets/css/main.css"
    ]
  })
  <!-- bagian header selesai -->
  
  <!-- Tulis semua coding kalian mulai dari sini -->
  <main>
    <h2>Biodata</h2>
    <table width="100%">
        <tr>
            <td>Nama</td>
            <td>:</td>
            <td>Salt Academy</td>
        </tr>
        
        <tr>
            <td>Hobi</td>
            <td>:</td>
            <td>
                <ul>
                    <li>Ngoding</li>
                    <li>Ngopi</li>
                    <li>Ngemil</li>
                </ul>
            </td>
        </tr>
    
        <tr>
            <td>Foto</td>
            <td>:</td>
            <td><a href="https://salt.id/academy" target="_blank"><img src="gambar/saltacademy.jpg" alt="saltlogo"width="80" height="80"></a></td>
        </tr>

        <tr>
            <td>Social Media</td>
            <td>:</td>
            <td>
                <ol>
                    <li style="list-style-type:none;"><a href="https://www.facebook.com/saltacademyid/" target="_blank"><img src="gambar/facebooklogo.png" alt ="facebook salt"width="40" height="40"></a></li>
                    <li style="list-style-type:none;"><a href="https://www.instagram.com/saltacademy.id/?hl=en"target="_blank"><img src="gambar/instagram.jpg" alt ="instagram salt"width="50" height="50"></a></li>
                    <li style="list-style-type:none;"><a href="https://twitter.com/saltacademy_id" target="_blank"><img src="gambar/twitterlogo.png" alt ="twitter salt"width="50" height="50"></a></li>
                </ol>
            </td>
                
        </tr>
    </table>
  </main>
  <!-- Penulisan coding selesai di sini -->
  
  
  <!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
  @@include('../shared/footer.html', {
    "script": [
      "assets/js/app.min.js"
    ]
  })
  <!-- bagian footer selesai -->