
<!-- Ini adalah "penggalan" HTML untuk bagian footer. Semua halaman akan menggunakan footer yang sama. -->

  <footer>
    <hr/>
    <p>&#169 2021 SaltAcademy | Created by <a href="https://gitlab.com/wisnusputra" target="_blank">wisnusputra</a></p>
  </footer>

@@if(context.script) {
  @@for(var i=0; i < script.length; i++) {
  <script src="`+script[i]+`" ></script>
  }
}
  </body>
</html>

<!-- Penggalan HTML footer berhenti di sini -->